.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin: 16px 0;
}

.stat-card {
  /* background-color: #a0ffcc; */
  background: var(--bg-db-card);
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  padding: 14px 16px;
}

.stat-label {
  font-size: 10px;
  color: var(--text-secondary);
  margin-bottom: 8px;
}

.stat-value {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.stat-unit {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  color: #aaa;
}

@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}